body{
    margin: 0;
    font-family:'Helvetica', 'Arial', 'sans-serif';
    font-size: 20px;
    line-height: 30px;
}

header{
    background-color: #d14635;
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
}

h1, h2{
    font-family: 'Press Start 2P', cursive;
}

header h1{
    color:white;
    font-size: 50px;
}

header img{
    /*making the image circle*/
    border-radius: 300px;
    border: 20px solid white;
    width: 300px
}

main{
    max-width: 800px;
    /* This function make the sentence centre but still make it continue on the left*/
    margin:0 auto;
    padding: 20px;

}

main img{
    max-width: 100%;
}

h2{
    font-size: 30px;
    color: #e70c19;
    margin: 40px 0 10px;
}

h2

a{
    color: blue;
}

a:hover{
    color:#e70c19;
}

footer{
    padding: 50px;
    background-color: #d14635;
    text-align: center;
    color: white;
}

footer a{
    color: white;
    margin: 0;
}

footer a:hover{
    opacity:.5;
    background-color:  transparant;
}

p.caption{
    font-style: italic;
    color: #999999;
    margin:0;
}